* {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Prime React Resetting */

.p-button:focus {
  outline: none;
  box-shadow: none; /* Also removes any box-shadow effect */
}

.p-button:active {
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
