.p-button {
  font-size: 14px;
  padding: 10px;
  font-weight: 500;
}

.p-togglebutton {
  margin-top: 10px;
  align-self: flex-start;
}

.toolbar-btn {
  padding: 5px;
  margin: 0 2px;
}

.toolbar-color-btn {
  border: none;
  padding: 5px;
  margin: 0 5px;
  box-sizing: border-box;
  background-color: transparent;
}

.toolbar-color-btn div {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}

.options-btn {
  background-color: rgba(128, 128, 128, 0.2);
  border: none;
  padding: 10px;
  position: fixed;
}

.toolbar-active-btn {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 4px;
}

.toolbar-active-color-btn {
  background-color: rgba(128, 128, 128, 0.2);
}

.input-field {
  font-size: 14px;
}

.input-field:focus {
  border-color: #023eba;
  outline: transparent;
  box-shadow: none;
}
