.loading-wrapper, .mobile-view-wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}


.loading-wrapper > p {
  font-size: 24px;
  font-weight: 600;
}

.loading-wrapper .long-loading-msg{
  font-size: 14px;
}


header {
  padding: 10px;
}

header > div {
  font-size: 18px;
  font-weight: 600;
}

.landing-container > div {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-text {
  text-align: center;
  width: 75%;
}

.landing-text h1 {
  font-size: clamp(40px, 10vw, 60px);
}

.landing-text p{
  font-size: clamp(14px, 1vw, 16px);
}

.landing-options {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.landing-options > div {
  margin: 0 10px;
}

.landing-options form {
  display: flex;
}

.landing-options > div {
  margin: 0 10px;
}

.landing-options form > div {
  margin: 0 10px;
}

.landing-error {
  margin-top: 5px;
  font-size: 14px;
  color: #808080;
  display: flex;
}

footer {
  float: right;
  padding: 5px 20px;
  font-weight: 500;
}

footer div {
  background-color: #e2e5de;
  padding: 8px;
  border-radius: 5px;
  color: #000;
}

@media screen and (max-width: 700px) {
  .landing-options {
    flex-direction: column;
    align-items: center;
  }
  .landing-options form {
    flex-direction: column;
    align-items: center;
  }
  .landing-options button {
    margin: 10px;
  }
}
