.toolbar {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0 5px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 8px;
  z-index: 100;
  box-sizing: border-box;
}

.toolbar label {
  display: block;
  margin-bottom: 10px;
}
.toolbar-divider-horizontal {
  display: none;
}

@media screen and (max-width: 1000px) {
  .toolbar {
    flex-direction: column;
    top: 50%;
    left: 0;
    padding: 5px 0;
    transform: translate(0, -50%);
  }
  .toolbar-divider {
    display: none;
  }
  .toolbar-divider-horizontal {
    display: block;
  }
  .toolbar-color-btn {
    display: flex;
    flex-direction: column;
  }
}
